.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: linear-gradient(135deg, transparent calc(50% - 0.5em), #000 0 calc(50% + 0.5em), transparent 0) right/300% 100%;
    animation: l22 2s infinite ease-in-out;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: background-position;
    position: relative;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.loader::before {
    content: "Loading...";
    color: transparent;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(135deg, #000 calc(50% - 0.5em), #fff 0 calc(50% + 0.5em), #000 0);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    transform: translateZ(0);
    backface-visibility: hidden;
    line-height: 1.2;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

@keyframes l22 {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}